*,*::before,*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: linear-gradient(to right, #000428, #004e92);
}

.calculator-grid {
    justify-content: center;
    display: grid;
    margin-top: 2rem;
    grid-template-columns: repeat(4, 6rem);
    grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);        
}

.calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid;
    background-color: rgba(255, 255, 255, 0.75);
    color: white;
    border-radius: 0;  
    border-color: rgba(255, 255, 255, 0.25);   
}

.calculator-grid > button:hover,
.calculator-grid > button:focus {
    background-color: rgba(255, 255, 255, 0.9);
}

.span-two {
    grid-column: span 2;
}
.output {
    grid-column: 1 / -1;
    background: rgba(10, 10, 10, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding: .75rem;
    word-wrap: break-word;
    word-break: break-all;
    
}

.output .previous-operand {
    color: rgba(255, 255, 255, 0.75);
    font-size: 1.5rem;
}

.output .current-operand {
    color: white;
    font-size: 2.5rem;
}